S3method(dlda,default)
S3method(dlda,formula)
S3method(dqda,default)
S3method(dqda,formula)
S3method(hdrda,default)
S3method(hdrda,formula)
S3method(lda_pseudo,default)
S3method(lda_pseudo,formula)
S3method(lda_schafer,default)
S3method(lda_schafer,formula)
S3method(lda_thomaz,default)
S3method(lda_thomaz,formula)
S3method(mdeb,default)
S3method(mdeb,formula)
S3method(mdmeb,default)
S3method(mdmeb,formula)
S3method(mdmp,default)
S3method(mdmp,formula)
S3method(predict,dlda)
S3method(predict,dqda)
S3method(predict,hdrda)
S3method(predict,lda_pseudo)
S3method(predict,lda_schafer)
S3method(predict,lda_thomaz)
S3method(predict,mdeb)
S3method(predict,mdmeb)
S3method(predict,mdmp)
S3method(predict,sdlda)
S3method(predict,sdqda)
S3method(predict,smdlda)
S3method(predict,smdqda)
S3method(print,dlda)
S3method(print,dqda)
S3method(print,lda_pseudo)
S3method(print,lda_schafer)
S3method(print,lda_thomaz)
S3method(print,mdeb)
S3method(print,mdmeb)
S3method(print,mdmp)
S3method(print,sdlda)
S3method(print,sdqda)
S3method(print,smdlda)
S3method(print,smdqda)
S3method(rda,default)
S3method(rda,formula)
S3method(sdlda,default)
S3method(sdlda,formula)
S3method(sdqda,default)
S3method(sdqda,formula)
S3method(smdlda,default)
S3method(smdlda,formula)
S3method(smdqda,default)
S3method(smdqda,formula)
export(cov_eigen)
export(cov_list)
export(cov_mle)
export(cov_pool)
export(cov_shrink_diag)
export(cv_partition)
export(dlda)
export(dqda)
export(generate_blockdiag)
export(generate_intraclass)
export(hdrda)
export(hdrda_cv)
export(lda_pseudo)
export(lda_schafer)
export(lda_thomaz)
export(mdeb)
export(mdmeb)
export(mdmp)
export(predict.rda)
export(rda)
export(sdlda)
export(sdqda)
export(smdlda)
export(smdqda)
export(solve_chol)
export(tong_mean_shrinkage)
importFrom(bdsmatrix,bdsmatrix)
importFrom(corpcor,fast.svd)
importFrom(corpcor,invcov.shrink)
importFrom(mvtnorm,rmvnorm)
