export(dlda)
export(dqda)
export(model.select.rsdda)
export(predict_dlda)
export(predict_dqda)
export(predict_sdlda)
export(predict_sdqda)
export(predict.rsdda)
export(rsdda)
export(sdlda)
export(sdqda)
export(simdiag)
