S3method(dlda,default)
S3method(dlda,formula)
S3method(dqda,default)
S3method(dqda,formula)
S3method(plot,simdiag)
S3method(predict,dlda)
S3method(predict,dqda)
S3method(predict,sdlda)
S3method(predict,sdqda)
S3method(predict,simdiag)
S3method(print,dlda)
S3method(print,dqda)
S3method(print,sdlda)
S3method(print,sdqda)
S3method(print,simdiag)
S3method(sdlda,default)
S3method(sdlda,formula)
S3method(sdqda,default)
S3method(sdqda,formula)
S3method(simdiag,default)
S3method(simdiag,formula)
export(bhatta_cv)
export(bhatta_simdiag)
export(bhattacharyya)
export(boot_parametric)
export(cov_list)
export(cov_mle)
export(cov_pool)
export(cov_shrink_diag)
export(cv_partition)
export(diag_estimates)
export(dlda)
export(dqda)
export(fast_cov_eigen)
export(fast_cov_pool_eigen)
export(generate_blockdiag)
export(generate_intraclass)
export(is_diagonal)
export(mdeb_shrinkage)
export(model.select.rsdda)
export(predict.rsdda)
export(rsdda)
export(sdlda)
export(sdqda)
export(simdiag)
export(simdiag_cov)
export(simdiag_transform)
export(tong_mean_shrinkage)
export(yj_inverse)
export(yj_marginal)
